<app-breadcrum [value]="[2]"></app-breadcrum>

<!-- About Start -->
<div class="container-xxl bg-primary text-white section pt-0">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-4" data-aos="fade-right" data-aos-duration="1000">
                <div>
                    <img src="assets/image/about.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-8">
                <!-- <h5 class="section-title ff-secondary text-start text-white fw-normal " data-aos="fade-right" data-aos-duration="1000">Who We Are?</h5> -->
                <!-- <h1 class="mb-4">Welcome to <span><img src="assets/image/logo.jpg" alt="" class="logo"></span></h1> -->
                <h1 class="mb-4 text-white" data-aos="fade-up" data-aos-duration="1000">Who We Are?</h1>
                <p class="mb-4" data-aos="fade-up" data-aos-duration="1000">
                    Welcome to <b>The Crispy Chicken</b>, where freshness is our foundation and flavor is our forte. At The Crispy Chicken, we take pride in sourcing only the freshest meats for our menu, ensuring a dining experience that surpasses expectations. Our commitment to quality is evident in every bite, as we never compromise by using frozen meat. From an array of mouthwatering burgers and delectable sandwiches to savory rolls, tantalizing tacos, and our signature crispy fried chicken, each dish is a testament to our dedication to using only the finest, locally sourced ingredients. We believe in the power of fresh meats to deliver optimal taste and texture, creating a culinary journey that satisfies the cravings of our discerning customers. At The Crispy Chicken, we invite you to savor the difference – where every bite is a celebration of freshness, flavor, and a commitment to culinary excellence.</p>
                <!-- <a class="btn btn-primary py-3 px-5 mt-2" routerLink="/about">Read More</a> -->
            </div>
        </div>
    </div>
</div>
<!-- About End -->