@import "../../../variable.scss";

.header {
    .dub {
        // background-color: $grey;
        background-color: #0f172b;
        padding: 5px 0px;
        z-index: 1000;
        position: relative;
        height: 50px;

        .line {
            color: #fff;
            padding: 6px 10px;
            font-weight: bold;
        }

        .w_btn {
            color: #fff;
            transform: translateY(0px);
            transition: all .3s ease;

            &:hover {
                color: $primary;
                scale: 1.05;
                transform: translateY(-2px);
                transition: all .3s ease;
            }
        }

    }
}

.logo {
    transition: none !important;
}

.sb_img {
    width: 80px;
}

.sidebar {
    transition: all 0.3s ease;

    .main {
        font-size: 20px;
        font-weight: bold;
        color: #0F172B;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            background-color: rgb(234, 235, 235);
        }

        .plus {
            width: 3px;
            height: 15px;
            background-color: #0F172B;
            transition: all 0.5s ease;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 6px;
                left: -6px;
                width: 15px;
                height: 3px;
                background-color: #0F172B;

            }

            &.minus {
                transform: rotate(-90deg);
                transition: all 0.5s ease;

                &::before {
                    transform: rotate(90deg);
                    transition: all 0.5s ease;

                }
            }
        }
    }

    ul {
        margin: 0;
        padding-left: 20px;
        opacity: 0;
        height: 0;
        transform: translateY(-5%);
        z-index: -1;
        transition: all 0.3s ease;

        &.show {
            opacity: 1;
            height: 100%;
            transform: translateY(0%);
            z-index: 1;
            transition: all 0.3s ease;

        }

        li {
            font-size: 16px;
            list-style: none !important;
            color: #969696;
            padding: 10px 30px 10px 0px;
            border-bottom: 1px solid rgb(234, 235, 235);
            transition: all 0.3s ease;
        }
    }
}

///offcanvas///

@media (min-width: 992.98px){
    .offcanvas-lg {
       height: 0 !important;
       opacity: 1;
       transition: height 0s;
    
    }
}


/*** Navbar ***/
.navbar {
    background-color: #fff;
    z-index: 1000;
}

.navbar .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 15px 5px;
    font-size: 15px;
    color: #000 !important;
    font-weight: 500;
    outline: none;
    transition: .5s;
    cursor: pointer;

    // border-bottom: 5px solid transparent;
    // border-bottom-width: 0px ;
    // transition: border-bottom-width 0.3s ease;
    &::before {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        background: $primary;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
}

.dropdown-menu{
    border-left: 4px solid $primary;
    padding: 0;
    a.dropdown-item{
        padding: 10px 20px;
    }
}

.sticky-top.navbar .navbar-nav .nav-link {
    padding: 20px 0;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: $primary !important;

    // border-bottom: 5px solid $primary;
    // border-bottom-width: 100% ;
    // transition: border-bottom-width 0.3s ease;
    &::before {
        width: 100%;
        left: 0;
    }
}

.navbar .navbar-brand img {
    // margin-top: -100px;
    max-height: 150px;
    transition: .5s;
    position: absolute;
    top: 0;
}

.sticky-top.navbar .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar {
        position: relative;
    }

    .navbar .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, .1)
    }

    .navbar .navbar-nav .nav-link,
    .sticky-top.navbar .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
    }

    .navbar .navbar-brand img {
        max-height: 80px;
        position: static;
    }
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .sticky-top.navbar {
        position: fixed;
        background: var(--dark) !important;
    }
}