<!-- Navbar & Hero Start -->
<div class="header ">
  <div class="dub"> 
    <div class="container">
      <div class="d-flex gap-1  justify-content-end">
        <a class="btn w_btn btn-social" href="">
          <i class="fa-solid fa-phone"></i>
          <span class="ps-2">+91 9876543210</span>
        </a>
        <div class="line">|</div>
        <a class="btn w_btn btn-social" href="">
          <i class="fa-regular fa-envelope"></i>
          <span class="ps-2">mail@thecrispychicken.com</span>
        </a>
        <div class="line">|</div>
        <div class="d-flex ">
          <a class="btn w_btn btn-social" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn w_btn btn-social" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn w_btn btn-social" href=""><i class="fab fa-youtube"></i></a>
          <!-- <a class="btn w_btn btn-social" href=""><i class="fab fa-linkedin-in"></i></a> -->
          <a class="btn w_btn btn-social" href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-xxl p-0 " >
    <nav class="navbar shadow navbar-expand-lg navbar px-4 px-lg-5 py-3 py-lg-0" [class.sticky-top]="this.isSticky">
      <div class="container faunset-i">
        <a href="" class="navbar-brand p-0">
          <!-- <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1> -->
          <img src="assets/image/logo.jpg" alt="Logo" class="logo">
        </a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="fa fa-bars"></span>
        </button> -->
        <!-- <button class="btn btn-primary navbar-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
          <span class="fa fa-bars"></span>
        </button> -->
        <button title="Menu" class="btn btn-primary d-lg-none fit-height mt-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">
          <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-0 h-100 align-items-stretch">
            <ng-container *ngFor="let item of this.service.menu; let i = index;">
              <!-- <a routerLink="{{item.url}}" class="nav-item nav-link">{{item.name}}</a> -->
              <div class="nav-item dropdown"  (mouseover)="hover(i)" (mouseout)="hover(-1)">
                <a   class="nav-link rel" [routerLink]="item.url" routerLinkActive="active" [class.dropdown-toggle]="item.child" data-bs-toggle="dropdown">{{item.name}} <span><img src="assets/image/halal-logo.png" alt="" class="halal_s" *ngIf="item.name == 'Our food'"></span></a>
                <div class="dropdown-menu m-0" *ngIf="item.child" [class.show]="this.selected == i">
                  <ng-container *ngFor="let item1 of this.item.child; let j = index;">
                    <a routerLink="{{item1.url}}" class="dropdown-item c-pointer">{{item1.name}}</a>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
          <!-- <a href="" class="btn btn-tertiary py-2 px-4">Book A Table</a> -->
        </div>
      </div>
    </nav>

  </div>
</div>

<!-- Navbar & Hero End -->

<!-- <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header pb-0">
    <div><img src="assets/image/CCChicken.png" alt="" class="sb_img"></div>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body px-0">
    <div class="custom-off">
        <ng-container *ngFor="let item of this.service.menu; let i = index;">
            <div class="sidebar" (click)="show(i)" >
              <div class="main">
                <div>{{item.name}}</div>
                <div class="plus" [class.minus]="this.c_selected[i]" *ngIf="item.child"></div>
              </div>
              <ul *ngIf="item.child" [class.show]="this.c_selected[i]">
                <ng-container *ngFor="let item1 of this.item.child; let j = index;">
                    <li routerLink="{{item1.url}}">{{item1.name}}</li>
                </ng-container>
              </ul>
            </div>
          </ng-container>
    </div>
  </div>  
</div> -->


<div class="offcanvas-lg offcanvas-start d-lg-none" data-bs-scroll="true" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
  <div class="offcanvas-header pb-0">
    <!-- <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5> -->
    <div><img src="assets/image/CCChicken.png" alt="" class="sb_img"></div>
    <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-label="Close"></button> -->
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
  
  </div>
  <div class="offcanvas-body px-0">
    <div class="custom-off">
        <ng-container *ngFor="let item of this.service.menu; let i = index;">
            <!-- <a routerLink="{{item.url}}" class="nav-item nav-link">{{item.name}}</a> -->
            <div class="sidebar" (click)="show(i)" >
              <div class="main" [routerLink]="!item.child ? item.url : null" data-bs-dismiss="offcanvas"  [attr.data-bs-target]="!item.child ? '#offcanvasResponsive' : null">
                <div class="rel">{{item.name}} <span><img src="assets/image/halal-logo.png" alt="" class="halal_l" *ngIf="item.name == 'Our food'"></span></div>
                <div class="plus" [class.minus]="this.c_selected[i]" *ngIf="item.child"></div>
              </div>
              <ul *ngIf="item.child" [class.show]="this.c_selected[i]">
                <ng-container *ngFor="let item1 of this.item.child; let j = index;">
                    <li routerLink="{{item1.url}}" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive">{{item1.name}}</li>
                </ng-container>
              </ul>
            </div>
          </ng-container>
    </div>
  </div>  
</div>