<app-breadcrum [value]="[5,0]"></app-breadcrum>

<section class="halal">
    
    <div class="container py-5">
        <div class="text-start">
            <h5 class="section-title ff-secondary text-start text-primary fw-normal" data-aos="fade-right" data-aos-duration="1000">Halal Policy</h5>
            <h1 class="mb-4" data-aos="fade-up" data-aos-duration="1000">Our Commitment to Halal Integrity at The Crispy Chicken </h1>
        </div>
        <div class="bgitem" data-aos="fade-up" data-aos-duration="1000"><div class="bg"></div></div>

        <div class="mt-5">
            <h3>Delighting Taste Buds with Authenticity and Compliance</h3>
        <p class="mb-0">At The Crispy Chicken, we take immense pride in serving our customers with delicious, hygienically-prepared fried chicken and beef steak. As a company that values diversity and respects various cultural and religious beliefs, we are dedicated to offering halal options for our Muslim customers while maintaining the highest standards of halal integrity. </p>
        </div>
    </div> 

    <div class="container-xxl  py-3">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1000">
                    <img src="assets/image/halal.png" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6">
                    <!-- <h5 class="section-title ff-secondary text-start text-primary fw-normal" data-aos="fade-right" data-aos-duration="1000">About Us</h5> -->
                    <!-- <h1 class="mb-4">Welcome to <span><img src="assets/image/logo.jpg" alt="" class="logo"></span></h1> -->
                    <h3 class="mb-4" data-aos="fade-up" data-aos-duration="1000">What is Halal?</h3>
                    <p class="mb-4" data-aos="fade-up" data-aos-duration="1000">Halal, in Islamic terms, refers to what is permissible and lawful for Muslims to consume, in accordance with Islamic dietary guidelines. This involves specific rituals and practices during the preparation and sourcing of food items, ensuring that they meet the criteria outlined by Islamic teachings.</p>

                    <h3 class="mb-4" data-aos="fade-up" data-aos-duration="1000">Our Halal Commitment</h3>
                    <p class="mb-4" data-aos="fade-up" data-aos-duration="1000">We understand the importance of halal practices and the significance it holds for our Muslim customers. As a result, we are fully committed to adhering to strict halal standards in every aspect of our food preparation and service.</p>

                    <h3 class="mb-4" data-aos="fade-up" data-aos-duration="1000">Halal Sourcing</h3>
                    <p class="mb-4" data-aos="fade-up" data-aos-duration="1000">Our halal journey begins with the sourcing of our ingredients. We carefully select suppliers who follow halal practices and source only the finest quality halal-certified chicken and beef. Our team ensures that the entire supply chain remains halal-compliant, from the farm to our kitchen.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h3 class="mb-4" data-aos="fade-up" data-aos-duration="1000">Dedicated Halal Preparation Area</h3>
        <p class="mb-4" data-aos="fade-up" data-aos-duration="1000">To maintain the purity of halal, we have designated a separate preparation area within our kitchen exclusively for halal dishes. This area is kept distinct from any non-halal items and is subject to regular inspections and monitoring to guarantee its compliance. </p>

        <h3 class="mb-4" data-aos="fade-up" data-aos-duration="1000">Halal-Certified Spices and Ingredients</h3>
        <p class="mb-4" data-aos="fade-up" data-aos-duration="1000">Our unique spices mixture, the heart of our flavorful offerings, is meticulously crafted using halal-certified ingredients. Our dedication to halal extends to every component of our recipes, ensuring an authentic and halal-compliant dining experience. </p>

        <div class="bgitem" data-aos="fade-up" data-aos-duration="1000"><div class="bg1"></div></div>

        <h3 class="mt-4 mb-4" data-aos="fade-up" data-aos-duration="1000">Hygiene and Halal</h3>
        <p class="mb-4" data-aos="fade-up" data-aos-duration="1000">Hygiene plays a crucial role in halal practices, and we uphold the highest standards in this regard. Our kitchen staff is extensively trained in halal procedures and maintains strict hygiene protocols throughout the food preparation process. </p>
    </div>

    <div class="container-xxl  py-3">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-7">
                    <!-- <h5 class="section-title ff-secondary text-start text-primary fw-normal" data-aos="fade-right" data-aos-duration="1000">About Us</h5> -->
                    <!-- <h1 class="mb-4">Welcome to <span><img src="assets/image/logo.jpg" alt="" class="logo"></span></h1> -->
                    <h3 class="mb-4" data-aos="fade-up" data-aos-duration="1000">Halal Certification</h3>
                    <p class="mb-4" data-aos="fade-up" data-aos-duration="1000">To further demonstrate our commitment to halal compliance, The Crispy Chicken seeks halal certification from reputable and recognized halal certification authorities. We are continuously working towards obtaining the necessary certifications to provide our customers with complete confidence in the halal status of our food. </p>

                    <h3 class="mb-4" data-aos="fade-up" data-aos-duration="1000">Openness and Transparency</h3>
                    <p class="mb-4" data-aos="fade-up" data-aos-duration="1000">We believe in fostering an environment of openness and transparency with our customers. If you have any questions or concerns about our halal practices, our team is always available to address them. Your feedback is invaluable to us, and we are eager to continuously improve our services. </p>

                </div>
                <div class="col-lg-5" data-aos="fade-right" data-aos-duration="1000">
                    <img src="assets/image/certification.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h3 class="mb-4" data-aos="fade-up" data-aos-duration="1000">Join Us in This Journey</h3>
        <p class="mb-4" data-aos="fade-up" data-aos-duration="1000">To maintain the purity of halal, we have designated a separate preparation area within our kitchen exclusively for halal dishes. This area is kept distinct from any non-halal items and is subject to regular inspections and monitoring to guarantee its compliance. </p>

        <p class="mb-4" data-aos="fade-up" data-aos-duration="1000">Thank you for choosing The Crispy Chicken. We look forward to serving you with our authentic flavors, exceptional service, and unwavering commitment to halal integrity.</p>

        <p class="note mb-5" data-aos="fade-up" data-aos-duration="1000"><span class="bold">Note:</span> The halal certification process may vary by region or country. We will update this policy to reflect our certification status once we obtain the official halal certification.</p>

    </div>
    
</section>