 @import "../../../styles.scss";

 .breadcrum{
    color: $primary;
    padding: 150px 0px 100px 0px;
    text-align: center;
    background: linear-gradient(rgb(15 23 43 / 40%), rgba(15, 23, 43, .9)), url(../../../assets/image/newhome.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  

  i{
    color: #959595;
  }

  .title{
    color: #fff;
    font-family: 'Rowdies';
    font-size: 60px;
  }
  ul {
   list-style: none;
   margin: 0;

   padding: 0;
   margin-bottom: 10px;
   /*color: rgb(214, 214, 214);*/
   // color: #333;

   li {
     display: inline;

     &:last-child {
       &::after {
         content: "";
         background-image: none;
       }
     }

     padding-right:10px;

     a {
       text-decoration: none;
       padding-right: 10px;
       /*color: rgb(214, 214, 214);*/
       color: #959595;
       font-size: 14px;

       &:hover {
         text-decoration: underline;
       }
     }
   }
 }
 }


 