/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";
// @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,400&display=swap");
@import "/src/variable.scss";

@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: "Roboto";
  src: url(assets/font/Roboto-Regular.ttf);
}

@font-face {
  font-family: "RobotoBold";
  src: url(assets/font/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Rowdies";
  src: url(assets/font/Rowdies-Bold.ttf);
}

@font-face {
  font-family: "RowdiesRegular";
  src: url(assets/font/Rowdies-Regular.ttf);
}


//common//

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.45px;
  color: #333333;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  height: 100%;
  // overflow: hidden;
  background-color: #fff;
}

b {
  font-family: "RobotoBold", sans-serif;
}

.head {
  color: #FFFFFF;
  // font-family: "Rowdies", Sans-serif;
  font-size: 4rem !important;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: 1px;
  text-shadow: 8px 7px 0px rgba(22.04687499999999, 22.04687499999999, 22.04687499999999, 0.47);

}

.rel {
  position: relative;
}

.halal_s {
  width: 20px;

}

.halal_l {
  width: 30px;
  position: absolute;
  left: 100%;
}

.rowdies {
  font-family: "Rowdies" !important;
}

.tworem {
  font-size: 2rem;
}

.gra_txt {
  font-size: 1rem;
  color: $primary;
}

.section-white {
  background-color: #fff;
}

.section-light {
  background-color: $light;
}

.white {
  color: #fff;
}

//flex item


.facenter {
  align-items: center;
}

.fjcenter {
  justify-content: center;
}


.fcenter {
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.bg-yel {
  background-color: #fff200;
}

//common//

//bootstrap overwrite//

.container-xxl {
  max-width: unset !important;
  padding: 4rem 0 !important;
}

//bootstrap overwrite//

/********** Template CSS **********/
:root {
  --primary: #e00614;
  --light: #F1F8FF;
  --dark: #0F172B;
}

///imgcaro

///carousel{

.img-owl-carousel {
  position: relative;

  .owl-theme {
    .custom-nav {
      position: absolute;
      top: 30%;
      left: 0;
      right: 0;

      .owl-prev,
      .owl-next {
        position: absolute;
        height: 100px;
        color: inherit;
        background: none;
        border: none;
        z-index: 100;

        i {
          font-size: 2.5rem;
          color: #cecece;
        }
      }

      .owl-prev {
        left: 0;
      }

      .owl-next {
        right: 0;
      }
    }
  }
}

.img-carousel .owl-item .img-item,
.img-carousel .owl-item.center .img-item * {
  transition: .5s;
}

.img-carousel .owl-item .img-item {
  width: 100%;
  height: 500px !important;
}

.img-carousel .owl-item.center .img-item {
  background: $primary !important;
  border: none !important;
}

.img-carousel .owl-item.center .img-item * {
  color: $dark !important;
}

.img-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.img-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #CCCCCC !important;
  background: var(--primary);
  background-color: $light;
  border-radius: 15px;
  transition: .5s;
}

.img-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}

///imgcaro

///carousel{

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
  transition: .5s;
}

.testimonial-carousel .owl-item .testimonial-item {
  height: 200px !important;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: $light !important;
  border-color: $light !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: $dark !important;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #CCCCCC !important;
  background: var(--primary);
  background-color: $light;
  border-radius: 15px;
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}