/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";
// @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,400&display=swap");

// @import "/src/variable.scss";
@import "/src/varcolor.scss";

/******* Customized Bootstrap ********/

$primary: #e00614;
$secondary: #fff;
$tertiary: #464543;

  // $light: #F1F8FF;
  $light:#f7f6f2;;
$grey:#464543;
$dark: #0F172B;

$body-bg: $secondary;

$body-color: #666565;

$headings-color: $dark;

$headings-font-weight: 800;

$display-font-weight: 800;

$enable-responsive-font-sizes: true;

$border-radius: 2px;

$link-decoration: none;

$enable-negative-margins: true;

$offcanvas-width: 150px;

// @import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: "Roboto";
  src: url(assets/font/Roboto-Regular.ttf);
}

@font-face {
  font-family: "RobotoBold";
  src: url(assets/font/Roboto-Bold.ttf);
}

@font-face {
  font-family: "RobotoBoldItalic";
  src: url(assets/font/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: "Rowdies";
  src: url(assets/font/Rowdies-Bold.ttf);
}

@font-face {
  font-family: "RowdiesRegular";
  src: url(assets/font/Rowdies-Regular.ttf);
}

@font-face {
  font-family: "DM";
  src: url(assets/font/DMSerifDisplay-Regular.ttf);
}

//common//

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.45px;
  color: #333333;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  height: 100%;
  // overflow: hidden;
  background-color: #fff;
  font-size: 1.1rem;
}

b {
  font-family: "RobotoBold", sans-serif;
}

.bold {
font-family: "RobotoBold", sans-serif;
}

.h-100{
  height: 100%;
}

h5{
  color: $dark;
}

h1{
  color: $dark;
  font-family: "RobotoBold", sans-serif;
}
.head{
  color: #FFFFFF;
  // font-family: "Rowdies", Sans-serif;
  font-size: 4rem !important;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: 1px;
  text-shadow: 8px 7px 0px rgba(22.04687499999999, 22.04687499999999, 22.04687499999999, 0.47);

}

.divider{
  height: 2px;
  border-radius: 20px;
  width: 100%;
  background-color: #fff;
}

.rel {
  position: relative;
}

.halal_s {
  width: 20px;

}

.halal_l {
  width: 30px;
  position: absolute;
  left: 100%;
}

.rowdies {
  font-family: "Rowdies" !important;
}

.tworem {
  font-size: 2rem;
}

.gra_txt {
  font-size: 1rem;
  color: $primary;
}

.section-white {
  background-color: #fff;
}

.section-light {
  background-color: $light;
}

.white {
  color: #fff !important;
}

.w-100{
  width: 100%;
  
}

.f-20{
  font-size: 20px;
}
//flex item


.facenter {
  align-items: center;
}

.fjcenter {
  justify-content: center;
}


.fcenter {
  align-items: center;
  justify-content: center;
}

.faunset-i{
  align-items: unset !important;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.bg-yel {
  background-color: #ffd701;
}

//common//

//bootstrap overwrite//

.container-xxl {
  max-width: unset !important;
}

//bootstrap overwrite//

/********** Template CSS **********/
:root {
  --primary: #e00614;
  --light: #F1F8FF;
  --dark: #0F172B;
}

///imgcaro

///carousel{

.img-owl-carousel {
  position: relative;

  .owl-theme {
    .custom-nav {
      position: absolute;
      top: 30%;
      left: 0;
      right: 0;

      @include sm{
        display: none;
      }

      .owl-prev,
      .owl-next {
        position: absolute;
        height: 100px;
        color: inherit;
        background: none;
        border: none;
        z-index: 100;

        i {
          font-size: 2.5rem;
          color: #cecece;
        }
      }

      .owl-prev {
        left: 0;
      }

      .owl-next {
        right: 0;
      }
    }
  }
}

.img-carousel .owl-item .img-item,
.img-carousel .owl-item.center .img-item * {
  transition: .5s;
}

.img-carousel .owl-item .img-item {
  width: 100%;
  min-width: 300px;
}

.img-carousel .owl-item.center .img-item {
  background: $primary !important;
  border: none !important;
}

.img-carousel .owl-item.center .img-item * {
  color: $dark !important;
}

.img-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.img-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #CCCCCC !important;
  background: var(--primary);
  background-color: $light;
  border-radius: 15px;
  transition: .5s;
}

.img-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}

///imgcaro

///carousel{

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
  transition: .5s;
}

.testimonial-carousel .owl-item .testimonial-item {
  height: 450px !important;
  // background-color: $yel;
  border-radius: 5px;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    z-index: auto;
    // background: #fff;
    background-color: #e9e9e9;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: $primary !important;
  border-color: #fff !important;
  transform: scale(1.1);
  transition: all .5s ;


}
.testimonial-carousel .owl-stage-outer .owl-stage{
  padding: 30px 0;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: #fff !important;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #CCCCCC !important;
  background: var(--primary);
  background-color: $light;
  border-radius: 15px;
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}

.testi{
  display: flex;
  flex-direction: column;
  
  .imgrel{
    position: relative;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
    img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    }
  }
  
}


/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
  font-family: "RowdiesRegular";
}

.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
  display: none;
}


////sec

.section{
  padding: 60px 0px;

  @include md {
    padding: 40px 0px;
  }
  
  @include sm {
    padding: 40px 10px;
  }

}

///media-query

@include sm {
  h5{
    font-size: 0.9rem;
  }
}


.bg-grey{
  background-color: #f7f6f2;
}

.pattern1{
  background: linear-gradient(rgb(238 238 238 / 95%),rgb(238 238 238 / 95%)), url(assets/image/pattern1.png);
  background-position: center center;
  background-repeat: repeat;
  background-size: contain;
}

.pattern2{
  background: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)), url(assets/image/pattern2.png);
  background-position: center center;
  background-repeat: repeat;
  background-size: contain;
}




//////aos


@media only screen and (max-width: 768px) {
  .aos-animate {

    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;

    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;

    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}

.colalign{
  display: flex;
  flex-direction: column;
  // gap: 5px;
  line-height: 1.5;
}