
/******* Customized Bootstrap ********/

$primary: #e00614;
$secondary: #fff;
$tertiary: #464543;

$light: #F1F8FF;
$grey:#464543;
$dark: #0F172B;

$body-bg: $light;

$body-color: #666565;

$headings-color: $dark;

$headings-font-weight: 800;

$display-font-weight: 800;

$enable-responsive-font-sizes: true;

$border-radius: 2px;

$link-decoration: none;

$enable-negative-margins: true;

$offcanvas-width: 300px;

@import "bootstrap/scss/bootstrap";
@import "~bootstrap/dist/css/bootstrap.css";

////////////////////////////////////////custom colors/////////////////////////////////////////
// $blue: #005F86 !default;
// $medium-blue: #007582 !default;
// $light-blue: hsl(172, 59%, 38%) !default;

// $green: #658D1B !default;
// $light-green: #ABAD25 !default;

// $yellow: #DAAA00 !default;
// $light-orange:#CF7F00 !default;
// $dark-orange: #BE531C !default;
// $red: #9E2A2F !default;

// $light-gray :#EEEEEE;
// $white :#FFFFFF;
// $dgreen :#055B49;
// $gray33 :#545454;
// $white-smoke :#F8F8F8;
// $persian-preen:#279989;
// $slate-gray :#444444;
// $grim-gray :#E3E3D5;



// $primary: $blue;
// $secondary: $light-blue;

// $side-menu: 350px;

////////////////////////////////////////custom colors/////////////////////////////////////////

