
<app-breadcrum [value]="[5,1]"></app-breadcrum>

<section class="facts ">
    <div class="container py-5">
        <div class="text-start">
            <h5 class="section-title ff-secondary text-start text-primary fw-normal" data-aos="fade-right" data-aos-duration="1000">Nourishing Insights</h5>
            <h1 class="mb-4" data-aos="fade-up" data-aos-duration="1000">Nutrition Facts for Select Menu Items:</h1>
        </div>

        <div class="row fjcenter g-4 mt-3">
            <ng-container *ngFor="let item of this.card;let i = index;">
                <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
                    <div class="card" >
                        <div class="card-img-top">
                            <img src="{{item.img}}" class="img-fluid wid" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title title">{{i+1}}. {{item.title}}</h5>
                            <p class="card-text" [innerHtml]="item.content"></p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="burg-section">
        <img src="assets/image/signature_sandwich.png" alt="" class="bur" data-aos="fade-right" data-aos-duration="3000" data-aos-delay="1000">
        <div class="txt-section container ">
            
            <div class="d-flex gap-4 fjcenter mb-3" data-aos="fade-left" data-aos-delay="200">
                <i class="fa-solid fa-pen-to-square fasize"></i>
                <div class="text-start">
                    <h3 class="mb-2 text-primary">Customizing Your Meal</h3>
                    <p >We understand that our customers have unique preferences and dietary needs. For those looking to customize their meal, our team will be happy to assist you in making choices that suit your nutritional requirements.</p>
                </div>
            </div>
            
            <div class="d-flex gap-4 fjcenter mb-3" data-aos="fade-left" data-aos-delay="400">
                <i class="fa-solid fa-suitcase-medical fasize"></i>
                <div class="text-start">
                    <h3 class="mb-2 text-primary">Allergen Information</h3>
                    <p >We strive to create a safe dining experience for everyone. For information regarding allergens present in our menu items, please reach out to our staff or refer to our allergen information chart available at our restaurant. </p>
                </div>
            </div>

            <div class="d-flex gap-4 fjcenter mb-3" data-aos="fade-left" data-aos-delay="600">
                <i class="fa-solid fa-utensils fasize"></i>
                <div class="text-start">
                    <h3 class="mb-2 text-primary">Eating Mindfully</h3>
                    <p >While we take pride in our delicious offerings, we also encourage our customers to practice mindful eating. Savor your meal, eat at a comfortable pace, and listen to your body's signals of satiety.</p>
                </div>
            </div>
    
        </div>
    </div>

    <div class="container-xxl  py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal" data-aos="fade-right" data-aos-duration="1000">Nourishing Journeys Await!</h5>
                    <!-- <h1 class="mb-4">Welcome to <span><img src="assets/image/logo.jpg" alt="" class="logo"></span></h1> -->
                    <h1 class="mb-4" data-aos="fade-up" data-aos-duration="1000">Join Us in the Journey to Nourishing Meals</h1>
                    <p class="mb-4" data-aos="fade-up" data-aos-duration="1000">At The Crispy Chicken, we are dedicated to serving you not only flavorful dishes but also wholesome, nourishing meals. From our mouthwatering Crispy Chicken Sandwiches to our savory Juicy Beef Steak, we remain committed to continuously improving and expanding our menu options, catering to diverse dietary preferences and nutritional needs.</p>
                    <p class="mb-4" data-aos="fade-up" data-aos-duration="1000">Enjoy the delectable tastes of The Crispy Chicken, knowing that we value your well-being as much as we value your taste buds. </p>
                    <p class="mb-2 bold" data-aos="fade-up" data-aos-duration="1000">Note: The nutrition facts provided above are approximate values based on standard serving sizes. For more precise information, please refer to the official nutrition information available at our restaurant or consult with a qualified nutritionist.</p>
                </div>
                <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1000">
                    <img src="assets/image/c4.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
